<md-dialog aria-label="Informações do ET" flex="50">
  <form>
    <p class="dialog-title">{{ item.name }}</p>
    <md-dialog-content>
      <md-subheader class="md-no-sticky">ID: {{ item.id }}</md-subheader>

      <md-list>
        <md-list-item class="md-1-line" ng-click="true">
          <div class="md-list-item-text">
            <span>Duração da sessão: {{ item.duration }} hora(s)</span>
          </div>
        </md-list-item>
        <md-list-item class="md-1-line" ng-click="true">
          <div class="md-list-item-text">
            <span>Versão: {{ item.version }}</span>
          </div>
        </md-list-item>
        <md-list-item class="md-1-line" ng-click="true">
          <div class="md-list-item-text">
            <span>Resultado: {{ item.result }}</span>
          </div>
        </md-list-item>
        <md-list-item class="md-1-line" ng-click="true">
          <div class="md-list-item-text">
            <span>Bugs e Enhancements: {{ item.bugs }}</span>
          </div>
        </md-list-item>
      </md-list>

      <md-divider></md-divider>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-primary" ng-click="cancel()">
        Fechar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
